Examples/Example5-ICSE2016-SmartHome/Node-RED/Fire Controller/Fire Controller.json
[{"id":"645d92b.f9ba26c","type":"mqtt-broker","z":"73ce004e.8c32","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"c48ed781.3b7128","type":"mqtt in","z":"73ce004e.8c32","name":"FireState Publisher","topic":"fireMeasurement","broker":"645d92b.f9ba26c","x":228,"y":1200,"wires":[["61a332ec.9e5ccc"]]},{"id":"61a332ec.9e5ccc","type":"function","z":"73ce004e.8c32","name":"Fire Controller","func":"var data=JSON.parse(msg.payload)\nvar smokeValue=data.fireState\nif(smokeValue.toString()==\"true\"){\n msg.payload={\"fireStatus\" : \"1\"};\nreturn msg;\n}\n   ","outputs":"1","noerr":0,"x":507,"y":1122,"wires":[["bc1d1c5d.43e2e","dd520edf.22adf"]]},{"id":"bc1d1c5d.43e2e","type":"mqtt out","z":"73ce004e.8c32","name":"Fire Controller Publisher (For Alarm)","topic":"notifyAlarm","qos":"","retain":"","broker":"645d92b.f9ba26c","x":802,"y":1078,"wires":[]},{"id":"dd520edf.22adf","type":"mqtt out","z":"73ce004e.8c32","name":"Fire Controller Publisher (SmartHomeApp)","topic":"notifySmartHomeApp","qos":"","retain":"","broker":"645d92b.f9ba26c","x":814,"y":1215,"wires":[]}]