Examples/Example5-ICSE2016-SmartHome/Node-RED/Alarm/Alarm.json
[{"id":"a9d24331.562dc","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"a451aa15.5bae58","type":"mqtt in","z":"6f13808f.90ec8","name":"Alarm Event Subscriber","topic":"notifyAlarm","broker":"a9d24331.562dc","x":326,"y":309,"wires":[["f660923a.099f7"]]},{"id":"f660923a.099f7","type":"function","z":"6f13808f.90ec8","name":"Connector","func":"data=JSON.parse(msg.payload);\nmsg.payload=data.fireStatus;\nif(msg.payload==\"1\")\n{   \n    msg.payload=1;\n    return msg;\n}\nelse{\n    msg.payload=0;\n    return msg;    \n}\n","outputs":"1","noerr":0,"x":503,"y":404,"wires":[["9ed4d993.612b28"]]},{"id":"9ed4d993.612b28","type":"rpi-gpio out","z":"6f13808f.90ec8","name":"Alarm","pin":"5","set":false,"level":"0","out":"out","x":724,"y":300,"wires":[]}]