Examples/Example5-ICSE2016-SmartHome/Node-RED/Temp Controller/Temp Controller.json
[{"id":"f3550637.0caaf8","type":"mqtt-broker","z":"835632ee.7ca9d","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"ec163a2b.13e9c8","type":"function","z":"835632ee.7ca9d","name":"Room Controller","func":"context.roomavg = context.roomavg || 0.0;\ncontext.temppref = context.temppref || 0.0;\nif (msg.topic === 'profile') {\n  context.temppref = JSON.stringify(msg.payload);\n  var avg=0.0;\n  var tempValue=context.temppref.substring(79,81);\n  avg=parseFloat(tempValue)+parseFloat(context.roomavg);\n  msg.payload=avg/2;\n  \n} else if (msg.topic === 'roomAvgTempMeasurement') {\n  context.roomavg = msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":434,"y":575,"wires":[["887fd905.778028"]]},{"id":"857081e7.7a8f8","type":"mqtt in","z":"835632ee.7ca9d","name":"ProfileDB Subscriber","topic":"profile","broker":"f3550637.0caaf8","x":146,"y":504,"wires":[["ec163a2b.13e9c8"]]},{"id":"3713588f.c8eca8","type":"mqtt in","z":"835632ee.7ca9d","name":"Room Avg Temp Subscriber","topic":"roomAvgTempMeasurement","broker":"f3550637.0caaf8","x":165,"y":630,"wires":[["ec163a2b.13e9c8"]]},{"id":"887fd905.778028","type":"mqtt out","z":"835632ee.7ca9d","name":"Room Controller Publisher","topic":"DisplayTemp","qos":"","retain":"","broker":"f3550637.0caaf8","x":710,"y":642,"wires":[]}]