Examples/Example5-ICSE2016-SmartHome/Node-RED/Room Avg Temp/Room Avg Temp.json
[{"id":"f3550637.0caaf8","type":"mqtt-broker","z":"835632ee.7ca9d","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"3634e034.c9cb2","type":"mqtt in","z":"835632ee.7ca9d","name":"Temperature & Humidity Senor Subscriber","topic":"sensorMeasurement","broker":"f3550637.0caaf8","x":225,"y":116,"wires":[["fa52aad9.05ad58"]]},{"id":"fa52aad9.05ad58","type":"function","z":"835632ee.7ca9d","name":"Room Avg Temp","func":"context.temps = context.temps || [];\ndata=JSON.parse(msg.payload);\ncontext.temps.push(data.tempValue);\nvar NO_OF_SAMPLE=5;\nif (context.temps.length > 4) {\n  var avg=0.0;\n  for (var i=0; i<NO_OF_SAMPLE; i++) {\n    avg =parseFloat(avg)+parseFloat(context.temps[i]);\n  }\n  avg =avg/NO_OF_SAMPLE;\n  msg.payload = avg;\n  context.temps=[];\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"x":464,"y":56,"wires":[["e00bee.ff1ff41"]]},{"id":"e00bee.ff1ff41","type":"mqtt out","z":"835632ee.7ca9d","name":"Room AvgTemp Publisher","topic":"roomAvgTempMeasurement","qos":"","retain":"","broker":"f3550637.0caaf8","x":756,"y":51,"wires":[]}]