Examples/Example5-ICSE2016-SmartHome/Node-RED/Proximity/Proximity.json
[{"id":"f3550637.0caaf8","type":"mqtt-broker","z":"835632ee.7ca9d","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"1ed99416.e1266c","type":"mqtt out","z":"835632ee.7ca9d","name":"Proximity Publisher","topic":"getprofile","qos":"","retain":"","broker":"f3550637.0caaf8","x":803,"y":240,"wires":[]},{"id":"cbcb8703.343478","type":"mqtt in","z":"835632ee.7ca9d","name":"RFID Subsciber","topic":"badgeDetected","broker":"f3550637.0caaf8","x":241,"y":226,"wires":[["1bb663c4.e4499c"]]},{"id":"1bb663c4.e4499c","type":"function","z":"835632ee.7ca9d","name":"Proximity","func":"data=JSON.parse(msg.payload);\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":222,"wires":[["1ed99416.e1266c"]]}]