Examples/Example5-ICSE2016-SmartHome/Node-RED/Fire State/Fire State.json
[{"id":"e764e4d9.189b18","type":"mqtt-broker","z":"73ce004e.8c32","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"e9c101c6.163f","type":"mqtt in","z":"73ce004e.8c32","name":"Room Avg Temp Subscriber","topic":"roomAvgTempMeasurement","broker":"e764e4d9.189b18","x":181,"y":213,"wires":[["42fe1f.ffbd01e"]]},{"id":"44d823c3.bb27dc","type":"mqtt in","z":"73ce004e.8c32","name":"Smoke Detector Publisher","topic":"smokePresence","broker":"e764e4d9.189b18","x":219,"y":317,"wires":[["42fe1f.ffbd01e"]]},{"id":"e51f5bfb.1ae0a8","type":"mqtt out","z":"73ce004e.8c32","name":"Fire State Publisher","topic":"fireMeasurement","qos":"","retain":"","broker":"e764e4d9.189b18","x":752,"y":207,"wires":[]},{"id":"42fe1f.ffbd01e","type":"function","z":"73ce004e.8c32","name":"Fire State","func":"context.avgTemp = context.avgTemp ;\ncontext.smokePresence = context.smokePresence;\ncontext.tempValue=context.tempValue;\nvar diff=0;\nif (msg.topic === 'smokePresence') {\n  var data = msg.payload.toString('utf8', 7); \nvar sensorMeasurement = JSON.stringify(data);\ncontext.smokePresence= sensorMeasurement.substring(15,19);\nif(context.smokePresence==\"true\" && context.avgTemp> 0)\n{\n    msg.payload=\"true\";\n    return msg;\n}  \n}\nelse if (msg.topic === 'roomAvgTempMeasurement') {\n  context.avgTemp= msg.payload;\n  // msg.payload=context.avgTemp;\n  // return msg;\n}\n\n/*else if(msg.topic=='weatherMeasurement')\n{\n   var  data=JSON.stringify(msg.payload);\n   var tempValue=data.substring(65,69);\n   context.tempValue = tempValue;\n   diff=Math.abs(parseFloat(context.tempValue)-(parseFloat(context.avgTemp)));\n  // msg.payload=diff;\n   return null;\n   \n}*/\nreturn null;\n","outputs":1,"noerr":0,"x":526,"y":253,"wires":[["e51f5bfb.1ae0a8"]]}]