Examples/Example5-ICSE2016-SmartHome/Node-RED/Display Controller/Display  Controller.json
[{"id":"e764e4d9.189b18","type":"mqtt-broker","z":"73ce004e.8c32","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"ff2691e8.00d97","type":"mqtt in","z":"73ce004e.8c32","name":"Temperature Mesurement Subscriber","topic":"sensorMeasurement","broker":"e764e4d9.189b18","x":185,"y":465,"wires":[["c61889a0.39e778"]]},{"id":"1f259282.e0da6d","type":"dweetio out","z":"73ce004e.8c32","thing":"iotsuite-DashBoard","name":"Temperature Dweet","x":693,"y":514,"wires":[]},{"id":"c61889a0.39e778","type":"function","z":"73ce004e.8c32","name":"Temperature Parser","func":"data = JSON.parse(msg.payload);\nmsg.payload = data.tempValue;\nreturn msg;","outputs":1,"noerr":0,"x":449,"y":508,"wires":[["1f259282.e0da6d"]]},{"id":"512d06ef.aed2f8","type":"mqtt in","z":"73ce004e.8c32","name":"Humidity Mesurement Subscriber","topic":"sensorMeasurement","broker":"e764e4d9.189b18","x":199,"y":642,"wires":[["6fa9a350.90565c"]]},{"id":"61a6b74f.9e5948","type":"dweetio out","z":"73ce004e.8c32","thing":"iotsuite-DashBoard-humidity","name":"Humidity Dweet","x":707,"y":691,"wires":[]},{"id":"6fa9a350.90565c","type":"function","z":"73ce004e.8c32","name":"Humidity Parser","func":"data = JSON.parse(msg.payload);\nmsg.payload = data.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":463,"y":685,"wires":[["61a6b74f.9e5948"]]}]